@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  color: #fff;
  font-family: "Roboto", sans-serif;
}

nav {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1111;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.1294117647);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.0901960784);
  border-bottom: 1px solid #fff;
}

.nav-link {
  color: #fff;
}

.hero {
  background: url("/imgs/Bg.jpg") no-repeat center center;
  height: 100vh;
  background-size: cover;
}

.htbh {
  font-size: 3.8rem;
  color: #fff !important;
}

.lead {
  margin-block: 2.5rem;
  font-size: 1.65rem;
}

.overflowad {
  background-color: #FF2E2E;
  width: -moz-fit-content;
  width: fit-content;
  overflow: visible;
  padding-block: 1px;
  padding-inline: 1rem;
}

.awards {
  height: 100vh;
  background: url("/imgs/Side Gate.jpg") no-repeat center center;
  background-size: cover;
}

.vani-img {
  height: 40rem;
  width: auto;
}

.vani-text {
  color: #000;
}

.r-yellow {
  background: url("/imgs/r-yellow.png") no-repeat center center;
  padding-block: 3rem;
  margin-top: 1rem;
  position: relative;
}

.artist {
  width: 25rem;
  /* position: absolute;
  bottom: 0; */
}

.cultural {
  color: #000000 !important;
}

.c1, .c2, .c3, .c4 {
  width: inherit;
}

.placements {
  background-color: #000 !important;
  color: #fff !important;
}

.yellow-c {
  color: #FFCC29 !important;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.25);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.glass-effect {
  height: -moz-fit-content;
  height: fit-content;
}

.li-box {
  font-size: 1.3rem;
  padding: 0.5rem 0.8rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  /* background-color: #00000021; */
  border: 1px solid #fff;
}

li::marker {
  font-size: 1.5em;
  color: #FFCC29;
  padding-right: 1.5rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  height: 100px;
  width: 250px;
}

.post-grad {
  font-weight: 100 !important;
  text-decoration: underline;
  text-decoration-color: #FFCC29;
}

.global {
  background: url("/imgs/global.jpg") no-repeat center center;
  background-size: cover;
  background-color: #000;
  color: #fff;
}

.txt-cnt {
  background-color: rgba(0, 0, 0, 0.1294117647);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.0901960784);
  border-bottom: 1px solid #fff;
  padding: 1rem;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 4rem;
}

.at-pu {
  color: #000;
}/*# sourceMappingURL=style.css.map */