@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');        

*,*::after,*::before{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
nav{
    position: fixed!important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1111;
}

.navbar{
    background-color: #00000021;
    backdrop-filter: blur(2px);
    box-shadow: 0 8px 32px 0 #00000017;
    border-bottom: 1px solid #fff;
}
.nav-link{
    color: #fff;

    &:hover{
        color: #FFCC29;
    }
    &:focus{
        color: #FFCC29;
    }
}
.navbar-toggler-icon {
  background-image: url('../imgs/menu.svg');
}
.nav-programs {
    color: #fff;
    &:hover{
        color: #FFCC29;
    }
    &:focus{
        color: #FFCC29;
    }
}
.hero{
    background: url('../imgs/Bg.jpg') no-repeat center center;
    min-height: 100vh;
    height: fit-content;
    background-size: cover;
}

.htbh{
    font-size: 3.8rem;
    color: #fff!important;
}

.lead{
    margin-block: 2.5rem;
    font-size: 1.65rem;
}
.overflowad{
    background-color: #FF2E2E;
    width: fit-content;
    overflow:visible;
    padding-block: 1px;
    padding-inline: 1rem;
}

.awards{
    height: 100vh;
    background: url('../imgs/Side\ Gate.jpg') no-repeat center center;
    background-size: cover;
}

.vani-img{
    height: 40rem;
    width: auto;
}

.vani {
    color: #000;
}

.vani-text{
    // margin-top:5rem;
    color:#000;
}

.r-yellow{
    background: url('../imgs/r-yellow.png') no-repeat center center;
    padding-block: 3rem;
    margin-top: 1rem;
    position: relative;
}
.artist{
    width: 25rem;
    /* position: absolute;
    bottom: 0; */

}

.cultural{
    color: #ffffff!important;
    background-color: #000;
}
.cultural  img {
    border: 1px solid #FFCC29;
    border-radius: 10px;
}

.c1,.c2,.c3,.c4{
 width: inherit;
}


.placements {
//  background-color: #000!important;
background: url('../imgs/Section\ bg.jpg') no-repeat center center;
background-size: cover;
 color: #fff!important;
}
.yellow-c {
    color: #FFCC29!important;
}

.glass-effect{
    background: rgba( 255, 255, 255, 0.25 );
/* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glass-effect {
    height: fit-content;
}

//  .li-box {
//     font-size: 1.3rem;
//     padding: .5rem .8rem;
//     margin: .5rem 0;
//     border-radius: 5px;
//     /* background-color: #00000021; */
//     border: 1px solid #fff;
// }

li::marker {
  font-size: 1.5em;
  color: #FFCC29;
  padding-right: 1.5rem;
}


  @mixin white-gradient {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  
  $animationSpeed: 40s;
  
  // Animation
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  
  // Styling
  .slider {
    // background: white;
    // box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
  

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }
  
    &::before {
      left: 0;
      top: 0;
    }
  
    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(250px * 14);
    }
  
    .slide {
      height: 100px;
      width: 250px;
    }
  }
  

  .post-grad{
    font-weight: 100!important;
    text-decoration: underline;
    text-decoration-color: #FFCC29;
  }

  .global {
    background: url('../imgs/global.jpg') no-repeat center center;
    background-size: cover;
    // height: 100vh;
    background-color: #000;
    color: #fff;
  }

  .txt-cnt {
    background-color: #00000021;
    backdrop-filter: blur(2px);
    box-shadow: 0 8px 32px 0 #00000017;
    border-bottom: 1px solid #fff;
    padding: 1rem;
    border-radius: 10px;
    width: fit-content;
    padding: 1rem 4rem;
  }

  .at-pu{
    color: #000;
  }
  


.applynow{

  -webkit-box-direction: normal;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  padding: 20px;
  width: 300px;
  z-index: 999;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(11px);
  box-shadow: 0 14px 20px rgb(0 0 0/52%);
  border-radius: 1.2rem;
  position: relative;
  left: 50%;

}

.captcha-style{

  -webkit-box-direction: normal;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  box-sizing: border-box;
  -webkit-box-align: stretch;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  margin-bottom: 1rem!important;
}

.pu4u{
  font-size: 1.3rem;
  background-color: #ffe60a;
  color: #000;
  width: max-content;
  text-align: right;
  align-self: self-end;
  padding: .3rem;
  font-weight: 700;

}
#submit{
  -webkit-box-direction: normal;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  overflow: visible;
  color: #0B0F32 !important;
  outline: none !important;
  // -webkit-appearance: button;
  // vertical-align: middle;
  font-family: inherit;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  display: block;
  text-align: center!important;
  text-transform: uppercase!important;
  background-color: #F3F6F9;
  border-color: #F3F6F9;
  width: 100%;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
}
.unmu{
  font-size: 3rem;
}

.d-bg {
  height: 100vh;
}

.m-bg{
  display: none;
}


@media screen and (max-width: 800px) {
  .hero {
    background: #000;
    height: fit-content;
    min-height: fit-content;
  }
  .m-bg{
    display: block;
    margin-top: 4rem!important;
  }
  .d-bg{
    display: none!important;
  }
  .applynow{
    width: 100%;
    left: 0;
  }
  .pu4u{
    font-size: 1rem;
  }
  .unmu{
    font-size: 2rem;
  }
  .glass-effect p {
    font-size: 1rem;
  }
  .awards .display-6 {
    font-size: 1rem!important;
  }
  .lc-p {
    font-size: .6rem!important;
    line-height: inherit;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1279px){
  .card {
    min-height: fit-content!important;
}
}


